@use 'variables' as *;

* {
  font-family: "Roboto Light", sans-serif;
  color: var(--main-font-color);
}

body {
  background-color: var(--background-color);
  background-image: url("../images/istockphoto-1367782722-1024x1024.png");
  background-repeat: no-repeat;
}