@mixin border {
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
  
  @media (hover: none) {
    &:active {
      @content;
    }
  }
}