:root {
  --caption-font-color: rgb(211, 218, 191);
  --main-font-color: rgb(234, 234, 234);

  --background-color: #ffffff;
  --background-color-active: rgba(238, 255, 0, 0.28);
  --background-block-color: #000000;
  --button-color: #2f2c22;
  --active-color: #eeff00;
  --active-text: #ffffff;
}