:root {
  --main-font-color: rgb(38, 62, 15);

  --background-color: #ffffff;
  --background-color-active: rgba(238, 255, 0, 0.28);
  --background-block-color: #f6f6f6;
  --button-color: #ffffff;
  --active-color: #eeff00;
  --active-text: #794c2c;
}