@use 'normalize' as *;
@use 'variables' as *;
@use 'globals' as *;
@use 'mixins' as *;
@use 'utils' as *;

.header {
//  @include border;
  display: flex;
  height: 3rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  margin-top: 1rem;
  background-color: var(--background-block-color);
//  opacity: 0.5;

  &__button {
    height: 2rem;
    width: fit-content;
//    border-style: solid;
//    border-color: var(--button-color);
    padding-inline: 2rem;
    background-color: var(--background-color);
    opacity: 0.8;
    transition: all 0.2s ease-in-out;

    @include hover {
      opacity: 1;
      background-color: var(--background-color-active);
      box-shadow: 0px 0px 10px var(--active-color);
      text-shadow: 0px 0px 5px var(--active-color);
    }
  }
}

.logo {
  &__image {
    max-height: 3rem;
  }
}

.nav {
  &__list {
    display: flex;
    gap: 2rem;
  }

  &__item {
    transition: all 0.2s ease-in-out;
    @include hover {
      color: var(--active-text);
      text-shadow: 1px 1px 3px yellow;

    }
  }
}