* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --caption-font-color: rgb(211, 218, 191);
  --main-font-color: rgb(234, 234, 234);
  --background-color: #ffffff;
  --background-color-active: rgba(238, 255, 0, 0.28);
  --background-block-color: #000000;
  --button-color: #2f2c22;
  --active-color: #eeff00;
  --active-text: #ffffff;
}

* {
  font-family: "Roboto Light", sans-serif;
  color: var(--main-font-color);
}

.container {
  width: 95vw;
  margin-inline: auto;
}

.background-left {
  display: flex;
  position: fixed;
  left: 0px;
  opacity: 0.5;
  z-index: -1;
  top: 0;
  height: 100vh;
}

.background {
  display: flex;
  position: fixed;
  right: 0;
  opacity: 0.5;
  z-index: -1;
  top: 0;
  height: 100vh;
}

.block {
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px 3px rgb(255, 255, 255), inset 0 0 5px rgba(255, 255, 255, 0.5);
  margin-bottom: 2rem;
  padding-inline: 1rem;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  color: var(--caption-font-color);
  font-weight: 500;
  letter-spacing: 0.09em;
  margin-bottom: 3rem;
}

section {
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.header {
  background-color: var(--background-block-color);
  display: flex;
  height: 3rem;
  opacity: 0.9;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.header__button {
  height: 2rem;
  width: fit-content;
  padding-inline: 1rem;
  border-radius: 10px;
  background-color: var(--button-color);
  transition: all 0.2s ease-in-out;
}
@media (hover: hover) {
  .header__button:hover {
    opacity: 1;
    background-color: var(--background-color-active);
    box-shadow: 0px 0px 10px var(--active-color);
    text-shadow: 0px 0px 5px var(--active-color);
  }
}
@media (hover: none) {
  .header__button:active {
    opacity: 1;
    background-color: var(--background-color-active);
    box-shadow: 0px 0px 10px var(--active-color);
    text-shadow: 0px 0px 5px var(--active-color);
  }
}

.logo__image {
  max-height: 3rem;
}

.nav__list {
  display: flex;
  gap: 2rem;
}
.nav__item {
  transition: all 0.2s ease-in-out;
}
@media (hover: hover) {
  .nav__item:hover {
    color: var(--active-text);
    text-shadow: 1px 1px 3px yellow;
  }
}
@media (hover: none) {
  .nav__item:active {
    color: var(--active-text);
    text-shadow: 1px 1px 3px yellow;
  }
}

.home {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.home__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--main-font-color);
}
.home__info {
  width: 60%;
  margin-inline: auto;
}
.home__title {
  text-align: center;
  font-size: 2rem;
  color: var(--caption-font-color);
  font-weight: 500;
  letter-spacing: 0.09em;
  margin-bottom: 3rem;
}
.home__paragraph {
  width: 80%;
  padding-left: 5rem;
  color: #eaeaea;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.home__image {
  width: 40%;
}

.advantages__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--main-font-color);
  margin-bottom: 3rem;
}
.advantages__image {
  width: 20%;
}
.advantages__list {
  font-size: 1.2rem;
}
.advantages__list li {
  list-style: disc;
  margin-bottom: 0.5rem;
}

.parameters__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.parameters__content li {
  list-style: circle;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.parameters__image {
  width: 50%;
}

/*# sourceMappingURL=styles.css.map */
