@use 'normalize' as *;
@use 'variables' as *;
@use 'globals' as *;
@use 'mixins' as *;
@use 'utils' as *;

.background-left {
  display: flex;
  position: fixed;
  left: 0px;
  opacity: 0.5;
  z-index: -1;
  top: 0;
  height: 100vh;
}

.background {
  display: flex;
  position: fixed;
  right: 0;
  opacity: 0.5;
  z-index: -1;
  top: 0;
  height: 100vh;

}

.block {
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 1),
  inset 0 0 5px rgba(255, 255, 255, 0.5);
  margin-bottom: 2rem;
  padding-inline: 1rem;
}

.header {
  //  @include border;
  background-color: var(--background-block-color);
  display: flex;
  height: 3rem;
  opacity: 0.9;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  &__button {
    height: 2rem;
    width: fit-content;
    //    border-style: solid;
    //    border-color: var(--button-color);
    padding-inline: 1rem;
    border-radius: 10px;
    background-color: var(--button-color);
    transition: all 0.2s ease-in-out;

    @include hover {
      opacity: 1;
      background-color: var(--background-color-active);
      box-shadow: 0px 0px 10px var(--active-color);
      text-shadow: 0px 0px 5px var(--active-color);
    }
  }
}

.logo {
  &__image {
    max-height: 3rem;
  }
}

.nav {
  &__list {
    display: flex;
    gap: 2rem;
  }

  &__item {
    transition: all 0.2s ease-in-out;
    @include hover {
      color: var(--active-text);
      text-shadow: 1px 1px 3px yellow;

    }
  }
}

.home {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  background-color: rgba(0, 0, 0, 0.6);


  &__info {
    width: 60%;
    margin-inline: auto;
  }

  &__title {
    //    text-align: center;
    font-size: 2rem;
    color: var(--main-font-color);
    font-weight: 500;
    letter-spacing: .02em;
    margin-bottom: 3rem;
  }

  &__paragraph {
    width: 80%;
    padding-left: 5rem;
    color: #eaeaea;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &__image {
    width: 40%;
  }

}

.advantages {
  background-color: rgba(0, 0, 0, 0.6);

  &__content {
    display: flex;
    justify-content: space-between;
    color: #eaeaea;

  }
  &__image {
    width: 20%;
  }

}