@use 'normalize' as *;
@use 'variables' as *;
@use 'globals' as *;
@use 'mixins' as *;
@use 'utils' as *;

.header {
//  @include border;
  display: flex;
  height: 3rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  margin-top: 1rem;
  background-color: var(--background-block-color);

  &__button {
    height: 2rem;
    width: fit-content;
    padding-inline: 2rem;
    background-color: var(--button-color);
    opacity: 0.9;
  }
}

.logo {
  &__image {
    max-height: 3rem;
  }
}

.nav {
  &__list {
    display: flex;
    gap: 2rem;
  }
}